<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{mainPage.browserTabTitle}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!--link
      href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap"
      rel="stylesheet"
    /-->
    <!--link
      href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Italianno&display=swap"
      rel="stylesheet"
    /-->
    <!--link
      href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=EB+Garamond&family=Italianno&display=swap"
      rel="stylesheet"
    /-->
    <link
      href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=EB+Garamond&family=Italianno&family=Special+Elite&display=swap"
      rel="stylesheet"
    />
    <link type="text/css" rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <section id="wtf">
      <h1>{{mainPage.titleSection.backgroundText}}</h1>
      {%- for word in mainPage.titleSection.foregroundWords -%}
      <div>{{word}}</div>
      {%- endfor -%}
    </section>
    {%- for section in mainPage.sections -%}
    <section id="{{section.id}}">
      <h2>{{section.heading}}</h2>
      {%- for para in section.paragraphs -%}
        <p>{{para}}</p>
      {%- endfor -%}
      <img src="/{{section.image}}" />
    </section>
    {%- endfor -%}
  </body>
</html>
